.masthead {
  .caption-edit{
    background: rgba(0,0,0,0.5);
  }
  #carouselMasthead{
    height: 100%;
    width: 100%;
  }
  .skyblue {
    background-color:$primary;
  }
  .skydark {
    background-color:$secondary;
  }

  .carousel-indicators {
    bottom: 0;
  }
  .carousel-control{
    background-image: none;
  }
  .carousel-item {
    min-height: 350px;
    height: 100%;
    width:100%;
  }

  .carousel-caption h3,
  .carousel .icon-container{
    background-color: $secondary;
  }
  .carousel-caption h3 {
    padding: .3em;
    @include body-font;
  }
  .carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 0.3em;
    text-align: center;
    border-radius: 50%;
  }
  .carousel-caption button {
    font-weight: bold;
    border-color: $secondary;
    display: table-cell;
    vertical-align: middle;  }
  /* Animation delays */
  .carousel-caption h3:first-child {
    animation-delay: 0.9s;
  }
  .carousel-caption h3:nth-child(2) {
    animation-delay: 1.3s;
  }
  .carousel-caption button {
    animation-delay: 1.3s;
  }
}

.img-fluid{
height: 450px;

}
@media only screen
and (min-width : 320px)
and (max-width : 768px) {
  .carousel-caption h3{font-size: 14px;}
  .carousel-caption h5{font-size: 10px;}
}