
.embed-responsive-item{
  top: 5rem;
  bottom: 5rem;
  left: 3rem;
  width: 100%;
  height: 100%;
  border: 1rem;
}


.interview{
  top: 5rem;
  bottom: 5rem;
  left: 3rem;
  width: 100%;
  height: 100%;
  border: 10rem;
}