@mixin body-font() {
  font-family: 'Quicksand', sans-serif;
}

@mixin heading-font() {
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
}

@mixin navbar-font(){
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

@mixin madonia_art {
  font-family: 'Satisfy', cursive;
}